.buttons{
    clear: both;
    margin-bottom: 5px;
  }

  .buttons1{
    clear: both;   
    margin-bottom: 5px;
    
  }
  .option3{
    clear: both;
    background-color:blueviolet ;
  }